@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark light;
  }

  html[data-theme="light"] {
    color-scheme: light;
  }

  html[data-theme="dark"] {
    color-scheme: dark;
  }

  :root {
    --pattern-x: url("/svg/x-black.svg");
  }

  body {
    @apply bg-theme-100 text-theme-900;
    @apply min-h-screen overflow-x-hidden;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --pattern-x: url("/svg/x-white.svg");
    }

    body {
      @apply bg-theme-950 text-theme-50;
    }
  }

  a,
  svg,
  img {
    -webkit-user-drag: none;
    user-select: none;
  }

  .pattern-x {
    background-image: var(--pattern-x);
  }
}
