@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark light;
  }

  html[data-theme="light"] {
    color-scheme: light;
  }

  html[data-theme="dark"] {
    color-scheme: dark;
  }

  body {
    @apply bg-theme-50 text-theme-900;
    @apply min-h-screen overflow-x-hidden;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-theme-950 text-theme-50;
    }
  }

  a,
  svg,
  img {
    -webkit-user-drag: none;
    user-select: none;
  }
}
